@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=PT+Serif&display=swap');
@import url( "components/container.css");
@import url("components/button.css"); 
@import url("components/banner.css"); 
@import url("components/card.css"); 
body{
	font-family: Montserrat;
	font-size: 20px;
	margin: 0px;
	text-align: center;
background: whitesmoke;
}
h1, h2, h3{
	font-family: Helvetica ;
}
h1{ 
    font-size: 30px ; 
    vertical-align: bottom;
    margin-bottom: 60px;
}
h2{
	font-size:24px ;
	text-align: center;
	margin-top: 50px;
}
h3{
	font-size: 20px;
	font-weight: bold;
	font-family: Montserrat;
}
a{ 
    text-decoration: none; 
}
p{ 
   font-weight: bold;
   font size: 23px;
   text-align: center;
   margin: 50px;

} 
Div{ 
    margin-top: 0px;
    margin-bottom: 100px;
}


