
.btn-black {
 border-radius: 8px;
 text-decoration: none;
 text-align: center;
 background: rgb(200, 200, 200);
 width: 40;
 height: 30;
 color: white;
 padding: 15px ;
 margin: 10px ;
 margin-top: 40px;
 margin-bottom: 50px;
}
